# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter checkpoints
**/.ipynb_checkpoints/

# Model weights (large)
notebooks/models/*.pth

# Local scratch files
testwrite-root.txt

# Synthetic Data (Generated Images & Labels)
sri_lankan_traffc_signs/synthetic/
